In [15]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [22]:
city_data_to_load = "data/city_data.csv"
ride_data_to_load = "data/ride_data.csv"
city_df=pd.read_csv(city_data_to_load)
rides_df=pd.read_csv(ride_data_to_load)
dataset_table=pd.merge(city_df,rides_df, on="city")
dataset_table.head()

          city  driver_count   type                 date   fare        ride_id
0  Richardfort            38  Urban  2018-02-24 08:40:38  13.93  5628545007794
1  Richardfort            38  Urban  2018-02-13 12:46:07  14.00   910050116494
2  Richardfort            38  Urban  2018-02-16 13:52:19  17.92   820639054416
3  Richardfort            38  Urban  2018-02-01 20:18:28  10.26  9554935945413
4  Richardfort            38  Urban  2018-04-17 02:26:37  23.00   720020655850